* {
    margin: 0;
    padding: 0;
}

html {
    background: url(img/note.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}

body {
    width: 800px;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-family: 'Krona One', sans-serif;
}

.header-title {
    margin: 10px auto;
    padding: 10px;
}

.header-title h1 {
    font-size: 2rem;
    color: #272724;
}

.drop-container {
    margin: 20px;
}

.select-input {
    height: 50px;
    padding: 10px;
    font-size: 1.5rem;
}

.select-input:hover {
    transition: all .5s;
    transform: scale(1.1);
}

.select-dropdown {
    font-size: 1.5rem;
    display: none;
}

.open-select {
    display: block;
    border-top: none;
}

.select-list {
    background: #272724;
    opacity: 0.9;
}
.select-item {
    list-style: none;
    padding: 0.5rem;
    color: #fff;
}

.select-item:hover {
    background-color: rgb(190, 188, 188);
    cursor: pointer;
    transition: .15s background ease-in;
}

.btn {
    background: #272724;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
    opacity: 0.9;
    cursor: pointer;
}

.addNote {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    margin: 20px auto;
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
}

.addNote:hover {
    transition: all .5s;
    transform: scale(1.1);
}

.modal.open .modal-overlay,
.modal.open .modal-window {
    opacity: 1;
    z-index: 100;
    background: rgb(199, 181, 148);
}

.modal.hide .modal-overlay,
.modal.hide .modal-window {
    opacity: 1;
    z-index: 100;
}

.modal.open .modal-window {
    transform: translateY(150px);
}

.modal.open .modal-overlay {
    background: rgba(0, 0, 0, .5);
}

.modal.hide .modal-window {
    transform: translateY(-200px);
}

.modal.hide .modal-overlay {
    background: rgba(0, 0, 0, 0);
}

.modal-window, .modal-overlay {
    opacity: 0;
    z-index: -1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .5s ease-in;
}

.modal-window {
    width: 400px;
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .5s ease-in;
}

.modal-header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(103, 136, 103);
}

.modal-title {
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
}

.modal-close {
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
}

.modal-body {
    padding: 10px;
    display: flexbox;
    justify-content: center;
}

.modal-body .input-title {
    width: 310px;
    margin: 10px auto;
    padding-left: 10px;
    font-size: 1.2rem;
    border: 1px;
}

.modal-body .input-content {
    width: 300px;
    height: 100px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    resize: none;
}

.form-radio-btn {
    display: inline-block;
    width: 100px;
    margin: 10px;
}

.form-radio-btn input {
    display: none;
}
.form-radio-btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
    background: rgb(175, 185, 185);
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#radio-1:checked + label {
	background: rgb(216, 95, 95);
    content: counter(check);
}

#radio-2:checked + label {
	background: rgb(233, 177, 94);
}

#radio-3:checked + label {
	background: rgb(119, 204, 119);
}

.form-radio-btn label:hover {
	color: #666;
}

.modal-footer {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.modal-footer button {
    width: 150px;
    height: 40px;
    margin: 10px;
    font-size: 1.2rem;
}

.container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 30px auto;
}

.my-notes {
    display: flexbox;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.my-notes:hover {
    transition: all 1s;
    transform: scale(1.1);
}

.my-notes .note-title {
    padding: 0 20px;
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
}

.my-notes .note-content {
    height: 90px;
    padding: 0 10px;
    font-family: 'Indie Flower', cursive;
}

.my-notes .note-time {
    padding: 5px auto;
    font-size: 0.7rem;
}

.priority-a-red {
    background: rgb(216, 95, 95);
}

.priority-b-yellow {
    background: rgb(233, 177, 94);
}

.priority-c-green {
    background: rgb(119, 204, 119);
}

.note-close {
    width: 10px;
    display: flex;
    margin-left: auto;
    background:none;
    font-size: 1.1rem;
    color: ivory;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  .note-close:focus {
    border: none;
    outline: none;
  }